<div class="footer">

    <div class="row text-center">

        <div class="cols-2">
            <span class="socialmedia">
                <i class="text-success">find us on</i>
                <a href="#"><i class="fab fa-facebook m-3 text-success "></i></a>
                <a href="#"><i class="fab fa-instagram m-3 text-success"></i></a>
                <a href="#"><i class="fab fa-twitter m-3 text-success"></i></a>
                <a href="#"><i class="fab fa-pinterest m-3 text-success"></i></a>

            </span>
        </div>

    </div>
</div>