<!-- tabs-start-section -->
<section>
    <div class="header">
        <div class="container">
            <div class="header-items">
                <nav class="navbar navbar-expand-lg ">
                    <div class="container">
                        <div class="header-log">
                            <i>Book<span>Blog</span></i>
                        </div>
                        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="collapsibleNavId">
                            <div class="nav-items">
                                <ul class="navbar-nav me-auto mt-2 mt-lg-0 ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/" aria-current="page">Home
                                            <span class="visually-hidden">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Link</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Blogs</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId"
                                            data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Genre</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                                            <a class="dropdown-item" href="/genre/fiction">fictions</a>
                                            <a class="dropdown-item" href="/genre/thriller">thriller</a>
                                            <a class="dropdown-item" href="/genre/self improvement">self-improvement</a>
                                            <a class="dropdown-item" href="/genre/horror">horror</a>
                                            <a class="dropdown-item" href="/genre/fantasy">fantasy</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="search-button">
                                <form method="post" action="/search" class="d-flex my-2 my-lg-0 gap-2 ">
                                    <input class="form-control me-sm-2" type="search" name="searchTerm"
                                        placeholder="Search" />
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>

            </div>
        </div>
    </div>
</section>

<!-- tabs-end-section -->