<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/FontAwesome/css/all.min.css">
    <link rel="stylesheet" href="/css/mainpage.css">
    <link rel="stylesheet" href="/FontAwesome/css/fontawesome.min.css">
    <title><%= typeof title != 'undefined' ? title:'Blog website' %></title>
</head>
<body>
     <div class="container px-3">
        <main> <%- body %> </main>   
    </div>
       <%-include("../partials/script.ejs") %>
</body>
</html>