<nav class="tab2 navbar navbar-expand-sm navbar-light bg-dark">
    <div class="container">
    <a class="navbar-brand" href="#"><img id="imageBrand"src="/images/library.png" >  </a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Popular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Latest</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="#">Fantasy</a>
            <a class="dropdown-item" href="#">Fiction</a>
            <a class="dropdown-item" href="#">Horror</a>
            <a class="dropdown-item" href="#">Crime</a>
            <a class="dropdown-item" href="#">Horror</a>
            <a class="dropdown-item" href="#">Thriller</a>
          </div>
        </li>
      </ul>
  </nav>
   <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="row  flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
          <div class="col-12 col-lg-6 image-item">
            <img src="/images/library.png" alt="a student reading" width="607" height="510px" class="d-block mx-lg-auto img-fluid" loading="lazy">
          </div>
           <div class="col-12  col-lg-6">
            <h1 class="dispaly-1 fw-bolder">We are the biggest book blog</h1>
            <p class="lead">
              Explore the books that we provide around here in our website
              Explore the books that we provide around here in our websiteExplore the books that we provide around here in our websiteExplore the books that we provide around here in our website
              Explore the books that we provide around here in our websiteExplore the books that we provide around here in our website
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href="#" class="btn btn-primary btn-dark btn-lg px-4">Login</a>
              <a href="#" class="btn btn-primary btn-dark btn-lg px-4">Login</a>
            </div>
        
           </div>
         </div>
      </div>
      <div class="carousel-item">
        <div class="row  flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
          <div class="col-12 col-lg-6 image-item">
            <img src="/images/library.png" alt="a student reading" width="607" height="510px" class="d-block mx-lg-auto img-fluid" loading="lazy">
          </div>
           <div class="col-12  col-lg-6">
            <h1 class="dispaly-1 fw-bolder">We are the biggest book blog</h1>
            <p class="lead">
              Explore the books that we provide around here in our website
              Explore the books that we provide around here in our websiteExplore the books that we provide around here in our websiteExplore the books that we provide around here in our website
              Explore the books that we provide around here in our websiteExplore the books that we provide around here in our website
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href="#" class="btn btn-primary btn-dark btn-lg px-4">Login</a>
              <a href="#" class="btn btn-primary btn-dark btn-lg px-4">Login</a>
            </div>
        
           </div>
         </div>
      </div>
      <div class="carousel-item">
        <div class="row  flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
          <div class="col-12 col-lg-6 image-item">
            <img src="/images/library.png" alt="a student reading" width="607" height="510px" class="d-block mx-lg-auto img-fluid" loading="lazy">
          </div>
           <div class="col-12  col-lg-6">
            <h1 class="dispaly-1 fw-bolder">We are the biggest book blog</h1>
            <p class="lead">
              Explore the books that we provide around here in our website
              Explore the books that we provide around here in our websiteExplore the books that we provide around here in our websiteExplore the books that we provide around here in our website
              Explore the books that we provide around here in our websiteExplore the books that we provide around here in our website
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href="#" class="btn btn-primary btn-dark btn-lg px-4">Login</a>
              <a href="#" class="btn btn-primary btn-dark btn-lg px-4">Login</a>
            </div>
        
           </div>
         </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      </button>
   </div>


   <!-- categories items -->

   <section class="mt-5">
    <div class="d-flex justify-content-md-center">
      <h1 class="display-3 fw-bolder">Categories</h1>
    <a href="#" class="ms-auto">view more</a>
    </div>
   </section>

   <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <a href="#" class="category_link">
      <div class="imageLink">
        <img src="/images/uVfaZkQ4h19j.png" alt="an image">
      </div>
      <div class="pt-1">Self-growth</div>
    </a>
    <a href="#" class="category_link">
      <div class="imageLink">
        <img src="/images/pexels-pixabay-326333.jpg" alt="an image">
        <div class="pt-1">Thriller</div>
      </div>
    </a>
    <a href="#" class="category_link">
      <div class="imageLink">
        <img src="/images/ux7yQHALue-k.png" alt="an image">
      </div>
      <p>Fictions</p>
    </a>
    <a href="#" class="category_link">
      <div class="imageLink">
        <img src="/images/pexels-jess-bailey-designs-743986.jpg" alt="an image">
      </div>
      <p>Fictions</p>
    </a>
    <a href="#" class="category_link">
      <div class="imageLink">
        <img src="/images/uVfaZkQ4h19j.png" alt="an image">
      </div>
      <p>Fictions</p>
    </a>
   </div>