<%- include('./partials/tabs.ejs') %>

    //user identification

    <section>

        <body>
            <div class="container">
                <h1>[User Name]'s Favorite Books</h1>
                <div class="row">
                    <div class="col-sm-6 col-md-4 mb-3" for="book-1">
                        <div class="card">
                            <img src="[Book Image URL]" class="card-img-top" alt="[Book Title]">
                            <div class="card-body">
                                <h5 class="card-title">[Book Title]</h5>
                                <p class="card-text">[Short book description]</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">[Comment about the book]</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>

    </section>



    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>